<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
<head>
    {% block meta %}
    {% endblock %}
    <title>{% block title %}MMArena{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block javascript_head %}
    {% endblock %}
</head>
<body>
{% block conten %}
{% endblock %}
</body>
{% block javascript_bottom %}
{% endblock %}
</html>



